.clearfix {
	@include clearfix;
}

.center-block {
	@include center-block;
}

.pull {
	&-right {
		float: right;

		img & {
			padding-left: 1em;
		}
	}

	&-left {
		float: left;

		img & {
			padding-right: 1em;
		}
	}
}

// Hide from screenreaders and browsers
.hidden {
	display: none;
	visibility: hidden;
}

// Remove Underline
//
.remove-underline {
	&, a {
		text-decoration: none;
	}
}
// Hide Bullets from lists
//
.hide-bullets {
	&, ul {
		list-style: none;
	}
}

// Remove default padding from lists
//
.remove-list-padding {
	&, ul, ol {
		padding-left: 0;
	}
}

// Margin Top
//
.margin-top {
	margin-top: .75em;
}
